
.mainnav--1{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(100,142,217,1) 100%);
position: fixed;
position: sticky;
}

.txt{
    color: white;
}

.sec--1{
    display: flex;
    justify-content: space-around;
}