
.vid--1{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 150px;
    text-align: center;
    border: 2px solid pink;
    width: max-content;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.vid--1 h1{
    color: white;
}

.vid--1:hover{
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
 
}

.vid--2{
    margin-top: 50px;
    
   
}

.vid--2 iframe{
    display: flex;
    justify-content: center;
    
}